* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background-color: rgb(231, 188, 20);
    width: 100vw;
    justify-content: center;
    justify-content: space-between;
    
}
.item {
    width: 200px;
    height: 200px;
    background-color: rgb(209, 199, 221);
    margin: 10px;
    color: rgb(15, 13, 13);
}