body {
    left: 100px;
    height: 100vh;
    background-image: url(../img/img6.png);
    background-size: cover;
    background-color: black;
    background-repeat: repeat-x;
    font-family:"goldman", cursive;
    
    
}



  
  
  nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0px;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    
  }

   ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
   li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
   a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }


  h1 {
    font-weight: bold;
    font-size: medium;
  }
  
   
  h2 {
    text-align: center;
    font-size: 50px;
    color:  #d7f60b;
    font-weight: bold;
    
  }
  
  p {
    color: white;
    font-size: 28px;
  }

  
 img {
  float: left;
  border: 1rem;
  padding: 1rem;
  margin: 10px;
 }
   
  footer {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 5px;
    min-height: 5vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    padding-left: 35rem;
  }
