.container {
    left: 100px;
    height: 100vh;
    background-image: url(./img/img7.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: repeat-x;
    font-family:"goldman", cursive;
    text-align: center;
    padding: auto;
    background-position: center;
}
  body {
    background-color: black;
  }
  section {
    height: 100vh;
    width: 100vw;
  }
  nav {
    position: fixed;
    display: flex;
    width: 100vw;
    min-height: 10vh;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    top: 0%;
    align-items: center;
    margin: auto;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
   nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 3vw;
    position:absolute;
  }
  
  h1 {
    font-weight: bold;
    font-size: medium;
  }
  
  h2 {
    text-align: center;
    font-size: 3rem;
    color:  #d7f60b;
    font-weight: bold;
    padding-top: 1.8rem;
  }
  
  p {
    color:white;
    font-size: 2rem;
  }
  footer p {
    color:white;
    width: 100vw;
    height: 5vh;
    font-size: 2rem;
  }
  img {
  margin:auto;
  border: 1rem;
  padding: 1rem;
  float: left;
  }
  footer {
    background-color:#00a8c7;
    color:white;
    text-align:center;
    font-size: 1.5rem;
    padding: 2rem;
  }
